In [1]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.2.tar.gz (281.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 281.4/281.4 MB 4.1 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.7/199.7 KB 17.0 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.2-py2.py3-none-any.whl size=281824028 sha256=4251ea94dd9d0547aced51ec9553e6d0d271f12fc2bbf714f72616d074a954fb
  Stored in directory: /root/.cache/pip/wheels/6c/e3/9b/0525ce8a69478916513509d43693511463c6468db0de237c86
Successfully built pyspark
Installing collected packages: py4j, pyspark
  Attempting uninstall: py4j
    Found existing installation: py4j 0.10.9.7
    Uninstalling py4j-0.10.9.7:
      Successfully uninstalled py4j-0.10.9.7
Successfully installed py4j-0.10.9.5 pyspark-3.3.2

In [2]:
# Download the Postgres driver that will allow Spark to interact with Postgres.
!wget https://jdbc.postgresql.org/download/postgresql-42.2.16.jar

--2023-04-04 23:30:02--  https://jdbc.postgresql.org/download/postgresql-42.2.16.jar
Resolving jdbc.postgresql.org (jdbc.postgresql.org)... 72.32.157.228, 2001:4800:3e1:1::228
Connecting to jdbc.postgresql.org (jdbc.postgresql.org)|72.32.157.228|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1002883 (979K) [application/java-archive]
Saving to: ‘postgresql-42.2.16.jar’

postgresql-42.2.16. 100%[===================>] 979.38K  1.18MB/s    in 0.8s

2023-04-04 23:30:04 (1.18 MB/s) - ‘postgresql-42.2.16.jar’ saved [1002883/1002883]

In [3]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("M17-Amazon-Challenge").config("spark.driver.extraClassPath","/content/postgresql-42.2.16.jar").getOrCreate()

### Load Amazon Data into Spark DataFrame

In [4]:
from pyspark import SparkFiles
url = "https://s3.amazonaws.com/amazon-reviews-pds/tsv/amazon_reviews_multilingual_FR_v1_00.tsv.gz"
spark.sparkContext.addFile(url)
df = spark.read.option("encoding", "UTF-8").csv(SparkFiles.get(""), sep="\t", header=True, inferSchema=True)
df.show(25)

+-----------+-----------+--------------+----------+--------------+--------------------+--------------------+-----------+-------------+-----------+----+-----------------+--------------------+--------------------+-------------------+
|marketplace|customer_id|     review_id|product_id|product_parent|       product_title|    product_category|star_rating|helpful_votes|total_votes|vine|verified_purchase|     review_headline|         review_body|        review_date|
+-----------+-----------+--------------+----------+--------------+--------------------+--------------------+-----------+-------------+-----------+----+-----------------+--------------------+--------------------+-------------------+
|         FR|      14952|R32VYUWDIB5LKE|0552774294|     362925721|    The God Delusion|               Books|          5|            0|          0|   N|                Y|a propos de ce livre|je conseille fort...|2013-02-13 00:00:00|
|         FR|      14952|R3CCMP4EV6HAVL|B004GJXQ20|     268067011|A Game of Thrones...|Digital_Ebook_Pur...|          5|            0|          0|   N|                Y|                 wow|ce magnifique est...|2014-08-03 00:00:00|
|         FR|      17564|R14NAE6UGTVTA2|B00GIGGS6A|     256731097|      Huion H610 PRO|                  PC|          3|            1|          3|   N|                Y|      Ca fait le job|Je dirais qu'il a...|2015-07-07 00:00:00|
|         FR|      18940|R2E7QEWSC6EWFA|B00CW7KK9K|     977480037|Withings Pulse - ...|              Sports|          4|            0|          1|   N|                Y|Fidele a description|Je l'ai depuis qu...|2014-06-16 00:00:00|
|         FR|      20315|R26E6I47GQRYKR|B002L6SKIK|     827187473|          Prometheus|           Video DVD|          2|            3|          5|   N|                N|            décevant|je m'attendait à ...|2013-06-10 00:00:00|
|         FR|      20842|R1RJMTSNCKB9LP|B00004YLIU|     678427290|               Kid A|               Music|          2|            0|          0|   N|                Y|                 10'|Ne disait pas sur...|2013-04-15 00:00:00|
|         FR|      20913|R2P2XF84YELQBZ|B00AYHK7RU|     108403123|        The Next Day|               Music|          5|            0|          3|   N|                Y|        the next day|du bon bowie,tr&e...|2013-06-07 00:00:00|
|         FR|      21490| RJKULSX2Y5R07|B00CJ3V5UK|     252503117|G.I. Joe 2 : Cons...|           Video DVD|          5|            0|          0|   N|                Y|       tres bon film|très bon film bea...|2014-11-07 00:00:00|
|         FR|      24196|R3UYE0U7SQCI8Q|B000FUM0TE|      48021829|             Amistad|           Video DVD|          5|            2|          3|   N|                Y|           Excellent|Un sujet délicat ...|2012-11-16 00:00:00|
|         FR|      24196|R1TKJ7XFS3RDEB|B000UMXCTY|     181554537|The Collection (C...|               Music|          5|            0|          1|   N|                Y|       C'est parfait|Un coffret d'un d...|2013-04-23 00:00:00|
|         FR|      24196|R3S9JNS21QDBXP|B0044JV1K6|     386772628|Braddock - Missin...|           Video DVD|          5|            0|          2|   N|                Y|    Excellent achat.|Un grand classiqu...|2013-08-02 00:00:00|
|         FR|      24196|R2Y4O06QMOGHD0|2226249672|     753674225|Au revoir là-haut...|               Books|          5|            2|          3|   N|                Y|     Excellent achat|Livre offert pour...|2013-10-03 00:00:00|
|         FR|      24196|R3PS3P7G1ZT57W|B000A3IF8G|     757843869|The Essential Mic...|               Music|          5|            0|          0|   N|                Y|     Excellent achat|Un artiste inoubl...|2014-08-21 00:00:00|
|         FR|      24207|R1NFWFM2WWRWPM|B00B4VI8MQ|     351620851|Epic Adventures: ...|         Mobile_Apps|          5|            0|          0|   N|                Y|                jeux|Trop cool ce jeux...|2014-01-31 00:00:00|
|         FR|      24207|R3QRIH5CXCXMEL|B00CW6DAKC|      87169065|    Super Ferme Mini|         Mobile_Apps|          4|            4|          6|   N|                Y|             ajouter|Ajouter moi &agra...|2014-07-29 00:00:00|
|         FR|      24629| RBCSM1KTYH6FX|B0031ES8P6|     724566333|Ty - Ty40819 - Pe...|                Toys|          4|            0|          0|   N|                Y|           Très bien|Bonne idée de cad...|2014-01-13 00:00:00|
|         FR|      24844|R2BIWHFIS7X808|B007AR7OGE|     414300413|First lady of son...|               Music|          5|            3|          4|   N|                Y|               Great|Just great compli...|2012-12-17 00:00:00|
|         FR|      25935|R2VGNSD09UEW5T|B00XO12REY|     271191040|  The Monsanto Years|               Music|          1|            1|          9|   N|                Y|commentaire sur M...|Pas beaucoup de s...|2015-07-21 00:00:00|
|         FR|      26425| RTGC85CCO9EMU|B007ZMHBBM|     893659638|Checkerboard Loun...|           Video DVD|          5|            0|          0|   N|                Y|        Muddy Waters|Superbe session e...|2012-11-22 00:00:00|
|         FR|      26552|R128Q27ZKTLGJ1|0446310786|     994527755|To Kill a Mocking...|               Books|          5|            0|          0|   N|                Y|          Beautiful!|I know it's a cla...|2015-01-19 00:00:00|
|         FR|      26552|R35CGHFIHGVQQM|B00D1VKZ3M|      16141818|Bridget Jones: Ma...|Digital_Ebook_Pur...|          2|            2|          2|   N|                Y|What a disapointm...|Waiting for so lo...|2015-01-22 00:00:00|
|         FR|      28091| RP2T2TPN9Y5MW|B00649LT06|     992326428|  Avengers [Blu-ray]|           Video DVD|          4|            1|          2|   N|                Y|           Excellent|Produit commandé ...|2013-03-16 00:00:00|
|         FR|      28091|R3J10C10DSJARQ|B005SODYGA|     539923046|Made In Germany 1...|               Music|          4|            0|          1|   N|                Y|                 Top|Produit commandé ...|2013-03-16 00:00:00|
|         FR|      28091|R1N4WBVI1KJSPQ|B007K60MQY|     251269761|          Battleship|           Video DVD|          4|            0|          1|   N|                Y|       Envoi parfait|Produit commandé ...|2013-03-16 00:00:00|
|         FR|      28104|R3SCHUSHNWIAXL|B00785P2QC|     162354237|Virtual City Play...|         Mobile_Apps|          5|            3|          4|   N|                Y|               bravo|Super jeux de pou...|2013-01-20 00:00:00|
+-----------+-----------+--------------+----------+--------------+--------------------+--------------------+-----------+-------------+-----------+----+-----------------+--------------------+--------------------+-------------------+
only showing top 25 rows

### Create DataFrames to match tables

In [5]:
from pyspark.sql.functions import to_date
# Read in the Review dataset as a DataFrame

In [6]:
# Create the customers_table DataFrame
# customers_df = df.groupby("").agg({""}).withColumnRenamed("", "customer_count")
customers_df = df.groupby("customer_id").agg({"customer_id": 'count'}).withColumnRenamed("count(customer_id)", "customer_count")
customers_df.show(25)

+-----------+--------------+
|customer_id|customer_count|
+-----------+--------------+
|      26425|             1|
|      29814|             1|
|      78440|             2|
|      90550|             1|
|      99817|             1|
|    2846240|             1|
|    2966808|             1|
|    3323007|             1|
|    3458442|             1|
|    3497479|             1|
|    3498767|             1|
|    3511947|             1|
|    3945593|             1|
|    4049807|             1|
|    4214333|             1|
|    4262489|             2|
|    4423902|             1|
|    4660180|             2|
|    4667529|             3|
|    4838481|             2|
|    4841869|             1|
|    5023675|             6|
|    5030898|             1|
|    5101867|             5|
|    5201254|             1|
+-----------+--------------+
only showing top 25 rows

In [15]:
# Create the products_table DataFrame and drop duplicates. 
# products_df = df.select([]).drop_duplicates()
products_df = df.select(['product_id','product_title']).drop_duplicates()

product_id  product_title
0001047663  A Matter of Honor                                                                                                                                        1
B0054N73EY  I'm with You                                                                                                                                             1
B0054JZC6E  101-in-1 Games                                                                                                                                           1
B0054KCGCG  The Experience Economy, Updated Edition                                                                                                                  1
B0054KRCDE  At Fillmore East (Deluxe Edition)                                                                                                                        1
                                                                                                                                                                    ..
B00016ZVHA  Le Pianiste (Édition simple)                                                                                                                             1
B00016ZS64  Gosford Park - Édition Collector 3 DVD                                                                                                                   1
B00016ZQZM  Innuendo - Edition japonaise digipack                                                                                                                    1
B00016ZQXO  Jazz - Edition japonaise digipack                                                                                                                        1
B06XQ5QTD4  PHANTASM (Combo DVD + BD) - Boitier Métal [Combo Blu-ray + DVD - Édition Limitée boîtier métal] [Combo Blu-ray + DVD - Édition Limitée boîtier métal]    1
Length: 35451, dtype: int64

In [8]:
# Create the review_id_table DataFrame. 
# Convert the 'review_date' column to a date datatype with to_date("review_date", 'yyyy-MM-dd').alias("review_date")
# review_id_df = df.select([, to_date("review_date", 'yyyy-MM-dd').alias("review_date")])
review_id_df = df.select(["review_id", "customer_id", "product_id", "product_parent", to_date("review_date", 'yyyy-MM-dd').alias("review_date")])
review_id_df.show(25)

+--------------+-----------+----------+--------------+-----------+
|     review_id|customer_id|product_id|product_parent|review_date|
+--------------+-----------+----------+--------------+-----------+
|R32VYUWDIB5LKE|      14952|0552774294|     362925721| 2013-02-13|
|R3CCMP4EV6HAVL|      14952|B004GJXQ20|     268067011| 2014-08-03|
|R14NAE6UGTVTA2|      17564|B00GIGGS6A|     256731097| 2015-07-07|
|R2E7QEWSC6EWFA|      18940|B00CW7KK9K|     977480037| 2014-06-16|
|R26E6I47GQRYKR|      20315|B002L6SKIK|     827187473| 2013-06-10|
|R1RJMTSNCKB9LP|      20842|B00004YLIU|     678427290| 2013-04-15|
|R2P2XF84YELQBZ|      20913|B00AYHK7RU|     108403123| 2013-06-07|
| RJKULSX2Y5R07|      21490|B00CJ3V5UK|     252503117| 2014-11-07|
|R3UYE0U7SQCI8Q|      24196|B000FUM0TE|      48021829| 2012-11-16|
|R1TKJ7XFS3RDEB|      24196|B000UMXCTY|     181554537| 2013-04-23|
|R3S9JNS21QDBXP|      24196|B0044JV1K6|     386772628| 2013-08-02|
|R2Y4O06QMOGHD0|      24196|2226249672|     753674225| 2013-10-03|
|R3PS3P7G1ZT57W|      24196|B000A3IF8G|     757843869| 2014-08-21|
|R1NFWFM2WWRWPM|      24207|B00B4VI8MQ|     351620851| 2014-01-31|
|R3QRIH5CXCXMEL|      24207|B00CW6DAKC|      87169065| 2014-07-29|
| RBCSM1KTYH6FX|      24629|B0031ES8P6|     724566333| 2014-01-13|
|R2BIWHFIS7X808|      24844|B007AR7OGE|     414300413| 2012-12-17|
|R2VGNSD09UEW5T|      25935|B00XO12REY|     271191040| 2015-07-21|
| RTGC85CCO9EMU|      26425|B007ZMHBBM|     893659638| 2012-11-22|
|R128Q27ZKTLGJ1|      26552|0446310786|     994527755| 2015-01-19|
|R35CGHFIHGVQQM|      26552|B00D1VKZ3M|      16141818| 2015-01-22|
| RP2T2TPN9Y5MW|      28091|B00649LT06|     992326428| 2013-03-16|
|R3J10C10DSJARQ|      28091|B005SODYGA|     539923046| 2013-03-16|
|R1N4WBVI1KJSPQ|      28091|B007K60MQY|     251269761| 2013-03-16|
|R3SCHUSHNWIAXL|      28104|B00785P2QC|     162354237| 2013-01-20|
+--------------+-----------+----------+--------------+-----------+
only showing top 25 rows

In [9]:
# Create the vine_table. DataFrame
# vine_df = df.select([])
vine_df = df.select(["review_id", "star_rating", "helpful_votes", "total_votes", "vine", "verified_purchase"])
vine_df.show(25)

+--------------+-----------+-------------+-----------+----+-----------------+
|     review_id|star_rating|helpful_votes|total_votes|vine|verified_purchase|
+--------------+-----------+-------------+-----------+----+-----------------+
|R32VYUWDIB5LKE|          5|            0|          0|   N|                Y|
|R3CCMP4EV6HAVL|          5|            0|          0|   N|                Y|
|R14NAE6UGTVTA2|          3|            1|          3|   N|                Y|
|R2E7QEWSC6EWFA|          4|            0|          1|   N|                Y|
|R26E6I47GQRYKR|          2|            3|          5|   N|                N|
|R1RJMTSNCKB9LP|          2|            0|          0|   N|                Y|
|R2P2XF84YELQBZ|          5|            0|          3|   N|                Y|
| RJKULSX2Y5R07|          5|            0|          0|   N|                Y|
|R3UYE0U7SQCI8Q|          5|            2|          3|   N|                Y|
|R1TKJ7XFS3RDEB|          5|            0|          1|   N|                Y|
|R3S9JNS21QDBXP|          5|            0|          2|   N|                Y|
|R2Y4O06QMOGHD0|          5|            2|          3|   N|                Y|
|R3PS3P7G1ZT57W|          5|            0|          0|   N|                Y|
|R1NFWFM2WWRWPM|          5|            0|          0|   N|                Y|
|R3QRIH5CXCXMEL|          4|            4|          6|   N|                Y|
| RBCSM1KTYH6FX|          4|            0|          0|   N|                Y|
|R2BIWHFIS7X808|          5|            3|          4|   N|                Y|
|R2VGNSD09UEW5T|          1|            1|          9|   N|                Y|
| RTGC85CCO9EMU|          5|            0|          0|   N|                Y|
|R128Q27ZKTLGJ1|          5|            0|          0|   N|                Y|
|R35CGHFIHGVQQM|          2|            2|          2|   N|                Y|
| RP2T2TPN9Y5MW|          4|            1|          2|   N|                Y|
|R3J10C10DSJARQ|          4|            0|          1|   N|                Y|
|R1N4WBVI1KJSPQ|          4|            0|          1|   N|                Y|
|R3SCHUSHNWIAXL|          5|            3|          4|   N|                Y|
+--------------+-----------+-------------+-----------+----+-----------------+
only showing top 25 rows

### Connect to the AWS RDS instance and write each DataFrame to its table.

In [10]:
# Configure settings for RDS
mode = "append"
jdbc_url="jdbc:postgresql://heimpel-mod17.c3qyrkygwvwo.us-east-2.rds.amazonaws.com:5432/amazon_reviews"
config = {"user":"postgres", 
          "password": "Matt&Ben0813", 
          "driver":"org.postgresql.Driver"}

In [47]:
# Write review_id_df to table in RDS
review_id_df.write.jdbc(url=jdbc_url, table='review_id_table', mode=mode, properties=config)

In [16]:
# Write products_df to table in RDS
# about 3 min
products_df.write.jdbc(url=jdbc_url, table='products_table', mode=mode, properties=config)

In [44]:
# Write customers_df to table in RDS
# 5 min 14 s
customers_df.write.jdbc(url=jdbc_url, table='customers_table', mode=mode, properties=config)

In [48]:
# Write vine_df to table in RDS
# 11 minutes
vine_df.write.jdbc(url=jdbc_url, table='vine_table', mode=mode, properties=config)