In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
vine_df = pd.read_csv('vine_table.csv')
vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R32VYUWDIB5LKE,5,0,0,N,Y
1,R3CCMP4EV6HAVL,5,0,0,N,Y
2,R14NAE6UGTVTA2,3,1,3,N,Y
3,R2E7QEWSC6EWFA,4,0,1,N,Y
4,R26E6I47GQRYKR,2,3,5,N,N

In [3]:
vine_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 254080 entries, 0 to 254079
Data columns (total 6 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   review_id          254080 non-null  object
 1   star_rating        254080 non-null  int64
 2   helpful_votes      254080 non-null  int64
 3   total_votes        254080 non-null  int64
 4   vine               254080 non-null  object
 5   verified_purchase  254080 non-null  object
dtypes: int64(3), object(3)
memory usage: 11.6+ MB

In [4]:
# Filter by total votes
filtered_vine_df = vine_df[vine_df['total_votes'] >= 20]
filtered_vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
118,R2LX6LJ7BA92OO,1,21,27,N,Y
123,R3VMEW1JWIXV1E,1,2,26,N,N
231,R8RBQTRZ32CFG,1,0,29,N,Y
431,R2612UZ2GU2K29,5,25,32,N,Y
434,R28X8YI8B00C6S,4,52,63,N,Y

In [5]:
# Filter by most helpful
new_vine_df = filtered_vine_df.loc[filtered_vine_df.helpful_votes / filtered_vine_df.total_votes >= 0.5]
new_vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
118,R2LX6LJ7BA92OO,1,21,27,N,Y
431,R2612UZ2GU2K29,5,25,32,N,Y
434,R28X8YI8B00C6S,4,52,63,N,Y
438,R3O3RDGDHHINF2,5,41,53,N,Y
657,R1FSDCDV0XV3X6,4,27,33,N,Y

In [6]:
# Paid reviews
vine_reviews = new_vine_df[new_vine_df['vine'] == 'Y']
vine_reviews.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
60837,R22SUWPP3KRZT6,3,21,26,Y,N
70434,R3O1MAY03ZF3MP,3,19,20,Y,N
78932,R30LQPCSI3ELHN,5,18,23,Y,N
86407,R3QIS7D8004AD2,3,76,80,Y,N
110221,R3R6CDRZU5U2XW,4,41,47,Y,N

In [7]:
# Unpaid reviews
not_vine_reviews = new_vine_df[new_vine_df['vine'] == 'N']
not_vine_reviews.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
118,R2LX6LJ7BA92OO,1,21,27,N,Y
431,R2612UZ2GU2K29,5,25,32,N,Y
434,R28X8YI8B00C6S,4,52,63,N,Y
438,R3O3RDGDHHINF2,5,41,53,N,Y
657,R1FSDCDV0XV3X6,4,27,33,N,Y

In [8]:
# Number of paid reviews
count_vine = len(vine_reviews)
count_vine

19

In [9]:
# Number of unpaid reviews
count_nonvine = len(not_vine_reviews)
count_nonvine

8332

In [10]:
# Paid 5-star reviews
max_rating_vine = len(vine_reviews[vine_reviews['star_rating']==5])
max_rating_vine

9

In [11]:
# Unpaid 5-star reviews
max_rating_nonvine = len(not_vine_reviews[not_vine_reviews['star_rating']==5])
max_rating_nonvine

4783

In [12]:
# Percentage of paid 5-star reviews
max_rating_vine/count_vine

0.47368421052631576

In [13]:
# Percentage of unpaid 5-star reviews
max_rating_nonvine/count_nonvine

0.5740518482957273